.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }

  .text-small {
    font-size: 85%;
  }

  .dropdown-toggle {
    outline: 0;
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .gambar {
    width: 100px;
    margin: auto;
  }
  .gambar img{
    
    height: 100px;
    width: 100px;
    overflow: hidden;
    /* border-radius: 100px; */

  }

  div.scroll {
    height: 400px;
    overflow-y: scroll;
  }
  
	table.scroll thead {
		display:table;
		width:100%;
		/* background-color: salmon; */
	}
	table.scroll tbody {
		display:block;
		height:270px;
		overflow:auto;
		float:left;
		width:100%;
	}
	table.scroll tbody tr {
		display:table;
		width:100%;
	}
	table.scroll th, td {
		width:70%;
		/* padding:8px; */
	}
	table.scroll th.nomor, td.nomor {
		width:8%;
		/* padding:8px; */
	}
	table.scroll th.merek, td.merek {
		width:22%;
		/* padding:8px; */
	}


  .table.scroll tbody::-webkit-scrollbar, div.scroll::-webkit-scrollbar {
    display: none;
  }